

<div class="row col-equal-height">
    <div class="col-md-4">
        <div class="card tile" style="height: 200px;">
            <div class="card-body">
                Incomes
                {{#each income}}
                    <p>{{source}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>
