<!--<p></p>-->
<!--<a href="/users/logout">Logout</a>-->
<div class="row col-equal-height ">
    <div class="col-md-9 col-sm-12 ">
        <div id="mainrow">
            <div class="row col-equal-height mb-4 ">
                <div class="col-md-6">
                    <div class="card tile">
                        <div class="row p-2">
                            <div class="col-8">
                                <h5 class="pl-3">Total Income Post-Tax (Yearly)</h5>
                            </div>
                            <div class="col-4">
                                <p class="pr-2" id="income_total">18%</p>
                            </div>
                        </div>
                        <div id="income_trend"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card tile">
                        <div class="row p-2">
                            <div class="col-9">
                                <h5 class="pl-3">Total Cumulative Expenses (Yearly)</h5>
                            </div>
                            <div class="col-3">
                                <p class="pr-2" id="expense_total"></p>
                            </div>
                        </div>
                        <div id="expense_trend"></div>
                    </div>
                </div>
            </div>

            <div class="row col-equal-height">
                <div class="col-md-12">
                    <div class="card tile">
                        <div class="card-body">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
        <div class="card tile recent-container">
            <div class="card-body">
                <div class="widget-heading">
                    <h5 class="border-bottom ">Recent Activity</h5>
                </div>

                {{#each data.notifications}}
                    {{> notification data=this}}
                {{/each}}

            </div>
        </div>
        <script>
            var income = [{{data.income_per_month}}];
            var expense = [{{data.expense_per_month}}];
        </script>
<script src="javascripts/dashboard.js"/>