
<!--<p>{{user.first_name}}</p>-->
<!--<a href="/users/logout">Logout</a>-->
<div class="row col-equal-height mb-4 align-items-center justify-content-center">
    <div class="col-md-12">
        <div class="card tile">
            <div class="card-body text-center">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row col-equal-height mb-4 align-items-center justify-content-center">
    <div class="col-md-6">
        <div class="card tile">
            <div class="card-body text-center">
                <h4>Income Over Time (Year) </h4>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card tile">
            <div class="card-body text-center">
                <h4>Income Over Time (Year) </h4>

            </div>
        </div>
    </div>
</div>
<script>
var income = [{{data.income_per_month}}];
var expense = [{{data.expense_per_month}}];

var options1 = getOptions(income, expense);

var chart1 = new ApexCharts(
        document.querySelector("#chart"),
        options1
);

chart1.render();

</script>
