<h1>Register</h1>
{{> messages}}
<form action="/users/register" method="POST">
    <div>
        <label for="firstName">Name</label>
        <input
                type="name"
                name="firstName"
                placeholder="Enter First Name"
                value="firstName"
        />

    </div>
    <div>
        <label for="lastName">Name</label>
        <input
                type="name"
                name="lastName"
                placeholder="Enter Last Name"
                value="lastName"
        />

    </div>
    <div>
        <label for="email">Email</label>
        <input
                type="email"
                name="email"
                placeholder="Enter Email"
                value="email"
        />
    </div>
    <div >
        <label for="password">Password</label>
        <input
                type="password"
                name="password"
                placeholder="Create Password"
                value="password"
        />
    </div>
    <div >
        <label for="password2">Confirm Password</label>
        <input
                type="password"
                name="password2"
                placeholder="Confirm Password"
                value="password2"
        />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Register
    </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>