/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #212121;
  color: #fff;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  border: none;
  height: 71px;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar.bg-dark {
  background: #131313 !important;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 224px;
  max-width: 224px;
  background: #121212;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-logo {
  margin-left: -7px;
  margin-top: 5px;
  margin-bottom: -5px;
}

#sidebar .sidebar-icon {
  margin-left: 0px;
  margin-top: 6px;
  margin-bottom: -4px;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header .sidebar-icon {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active .sidebar-logo {
  display: none;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a span {
  display: none;
}

#sidebar.active ul li a i,
#sidebar.active ul li a svg {
  margin: 0 !important;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 15px 20px;
  border-bottom: 1px solid #343434;
  overflow: hidden !important;
}

#sidebar .sidebar-header .sidebar-icon {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  border-radius: 10px !important;
}

#sidebar ul li a:hover {
  color: #288DB9;
  background: transparent;
}

#sidebar ul li a i {
  margin-left: 5px;
  margin-right: 10px;
}

#sidebar ul li a svg {
  margin-right: 10px;
  margin-left: 5px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #288DB9;
  background: #343434;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    TOP NAV STYLE
----------------------------------------------------- */
.top-nav {
  width: 100%;
  display: block;
  margin-top: -3px;
  border-bottom: 1px solid #343434;
}

.top-nav #rightElemenets .navbar-nav {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  position: relative;
  top: 1px;
}

.top-nav .nav-link {
  padding: 12px 20px !important;
}

.top-nav .chevron {
  position: relative;
  top: 1.5px;
  margin-left: 4px;
}

.top-nav .chevron svg {
  padding-left: 3px;

}

.top-nav h3#navbar-title {
  margin-left: 30px;
  flex: auto;
  position: relative;
  top: 4px;
}

.top-nav .container-fluid {
  padding: 0 !important;
}

.top-nav .profile-icon {
  width: 47px;
  height: 47px;
  border-radius: 25px;
  cursor: pointer;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

section#main-section {
  padding: 69px !important;
  padding-bottom: 0 !important;
}

.tile {
  background: #343434 !important;
  border: 1px solid #EAEAEA;
  height: 100%;
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */

.btn-info {
  background-color: #288DB9 !important;
  border-color: #288DB9;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header .sidebar-icon {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
    border-radius: 10px !important;
    overflow: hidden;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}