/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
#DataTables_Table_1_wrapper {
  margin-top: 70px; }

.dataTables_wrapper .form-control {
  background: #fff;
  border: none;
  margin-top: 5px;
  -webkit-box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  box-shadow: 2px 5px 17px 0 rgba(31, 45, 61, 0.1);
  border-radius: 6px;
  padding: 8px 30px 8px 14px;
  border: 1px solid #1b2e4b;
  color: #009688;
  font-size: 15px;
  background: #1b2e4b;
}
