# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Budge Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: echo ${{ secrets.PROCESS}} | base64 --decode > .env  
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

    - name: Deploy to Hosting
      uses: fifsky/ssh-action@master
      with:
        command: |
          cd /root/Budge/
          git reset --hard HEAD
          git pull origin main
          npm install --silent
          pm2 stop budge
          pm2 start --name "budge" /root/Budge/bin/www --interpreter=/root/.nvm/versions/node/v14.15.0/bin/node
        host: 46.101.64.6
        user: root
        key: ${{secrets.PRIVKEY}}
